#form {
    margin-left: 200px;
  }
  
.nameForm {
    font-family: sans-serif;
    color:red;
    padding-left: 40px;
    float:left;
    font-size: 40px !important;
    font-family: unset;
}
  
.createCommentBody{
    text-align: -webkit-left;
}
  
.btnSend {
      outline: 0;
      outline-offset: 0;
      font-family: unset;
      font-weight: bold;
      margin-right: 5px;
      width: 400px;
      margin-bottom: 15px;
      border-radius: 2px;
      font-size: 18px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      height: 40px;
      font-size: 20px;
      cursor:pointer;  
      background-color: #C4C4C4;
      color:white;
      border: 1px solid #D9D9D9;
      border-radius: 8px;
  }
  
@media screen and (min-width: 300px) and (max-width: 1025px){
      .nameInput {
          width: 900px !important;
          height: 130px !important;
          font-size: 40px !important;
          border-radius: 8px;
          position: relative;
          top:50px;
          font-family: unset;
          padding-top: 15px;
          padding-left: 26px;
          padding-right: 26px;

      }
      .createCommentBody {
          text-align: center !important;
      }
   
      #form {
          margin: 0 auto !important;
          font-size: -webkit-xxx-large !important;
      }

      .btnSend {
         width: 900px !important;
         height: 130px !important;
         font-size: 40px !important;
         border-radius: 8px;
         position: relative;
         top: 136px;
      }

      .textComment {
        position: relative;
        text-align: justify;
        top:100px;
        width:841px;
        height:400px;
        font-size:23px;
        padding-top: 15px;
        padding-left: 26px;
        padding-right: 26px;
        font-family: unset;
        border-radius: 8px;
     }
           
  }

.nameInput {
  width: 400px;
}

.triangle {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.2em solid #c4c4c4;;
  border-top: 0.2em solid #c4c4c4;;
  transform: rotate(226deg);
  margin-right: 0.5em;
  left: 51px;
  top: 28px;
  float:left;
  font-size:104px;
}

   