.nameUser {
  font-size: 40px !important;
  color:black; 
  float:left;
  padding-left: 40px; 
}

.text {
  font-size: 31px;
  text-align: left;
}

.date {
  float: right;
  position: relative;
  font-size: xx-large;
  right: 44px;
}